body{

    padding: 0px;
    margin: 0px;
    background-color: lightgray;
    height: 400px;
    width: 100%;
    
}
div{
    background-color:pink;

}
form{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 200px;
}
input{
    padding: 5px;
}
.btn{
    background-color: lightgray;
    margin-left: 75%;
}
.d1{
    height: 400px;
    width: 50%;
}